body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Add this CSS in your App.js file or create a separate CSS file and import it */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
  background-color: rgb(220, 241, 220);
}
.has-border-cyan {
  border: 1px solid #6c9baa; /* Cyan blue color */
  border-radius: 8px; /* Optional: Adds rounded corners to the border */
  box-shadow: 0 10px 4px rgba(103, 151, 160, 0.1); /* Optional: Adds a shadow */
}

.fa-star.checked {
  color: orange;
}

.fa-star {
  font-size: 30px!important;
}
.container {
  padding: 30px;
}
.underline-on-hover {
  text-decoration: none;
}

.underline-on-hover:hover {
  text-decoration: underline;
}
.no-background {
  background-color: transparent;
  border: none;
}

.no-background:hover {
  text-decoration: underline;
}

.centered-text {
  display: flex;
  justify-content: center;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  height: 100vh;
  margin-bottom: 0;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
